<!DOCTYPE html>
<html>
  <head>
    <title>ToveBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'application', "https://fonts.googleapis.com/css?family=Source+Sans+Pro" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="center">
    <header>
      <nav class="header-footer">
        <ul>
          <div id="header">
            <li><%= link_to "home", root_path %></li>
          </div>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
